.mat-dialog-actions {
  // ...
  &[align="end"] {
    justify-content: flex-end;
  }

  &[align="center"] {
    justify-content: center;
  }
}

.mat-dialog-content {
  // ...
  &[align="end"] {
    justify-content: flex-end;
  }

  &[align="center"] {
    justify-content: center;
  }
}

.mat-dialog-title {
  // ...
  &[align="end"] {
    justify-content: flex-end;
  }

  &[align="center"] {
    justify-content: center;
  }
}
